<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>StackOverflow-lite</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="body_box container">
        <header class="top-bar">
            <div class="nav-bar container">
                <nav>
                    <div class="logo container">StackOverflow-lite</div>
                    <ul>
                        <li><a href="#" class="youarehere">Home</a></li>
                        <li><a href="#">Questions</a></li>
                        <li><a href="#">About</a></li>
                        <li><a class="active" href="#">Sign In</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="clr"></div>
        <div id="content">
            <div class="container">
                <div class="top-questions_left">
                    <h1>Top Questions</h1>
                </div>
                <div class="ask-questions_right">
                    <p>
                        <a class="button" href="">Ask Question</a>
                    </p>
                </div>
            </div>
            <div class="wrapper">
                <div class="q-list">
                    <div class="q-summary">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consequuntur esse
                            placeat neque ratione nam, nesciunt nemo qui veritatis necessitatibus quaerat doloremque ut
                            earum? Quae praesentium sed architecto amet explicabo!</p>
                    </div>
                    <div class="q-summary">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consequuntur esse
                            placeat neque ratione nam, nesciunt nemo qui veritatis necessitatibus quaerat doloremque ut
                            earum? Quae praesentium sed architecto amet explicabo!</p>
                    </div>
                    <div class="q-summary">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consequuntur esse
                            placeat neque ratione nam, nesciunt nemo qui veritatis necessitatibus quaerat doloremque ut
                            earum? Quae praesentium sed architecto amet explicabo!</p>
                    </div>
                    <div class="q-summary">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consequuntur esse
                            placeat neque ratione nam, nesciunt nemo qui veritatis necessitatibus quaerat doloremque ut
                            earum? Quae praesentium sed architecto amet explicabo!</p>
                    </div>
                    <div class="q-summary">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consequuntur esse
                            placeat neque ratione nam, nesciunt nemo qui veritatis necessitatibus quaerat doloremque ut
                            earum? Quae praesentium sed architecto amet explicabo!</p>
                    </div>
                    <div class="q-summary">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consequuntur esse
                            placeat neque ratione nam, nesciunt nemo qui veritatis necessitatibus quaerat doloremque ut
                            earum? Quae praesentium sed architecto amet explicabo!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>