<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StackOverflow-lite</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="body_box container">
        <div class="nav-bar container">
            <nav>
                <div class="logo container">StackOverflow-lite</div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">About</a></li>
                    <li><a class = "active" href="#">Sign In</a></li>
                </ul>
            </nav>
        </div>

    </div>
</body>
</html>