<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StackOverflow-lite</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:5000">
</head>
<body>
    <div class="body_box">
        <div class="nav-bar_box">
            <nav>
                <div class="logo">StackOverflow-lite</div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">About</a></li>
                    <li><a class="active" href="#">Log In</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-page_box">

        </div>
        <div class="footer_box">

        </div>
    </div>
</body>
</html>