<html>
    <head>
    <meta charset="UTF-8">
    <title>StackOverflow-lite</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<div class="signin-box">
    <h1>Sign In</h1>
    <div class="textbox">
        <input type="text" placeholder="Username" name="" value="">
    </div>

    <div class="textbox">
        <input type="password" placeholder="Password" name="" value="">
    </div>

    <input class="btn" type="button" name="" value="Sign In">
</div>

</html>