<html>

<head>
    <meta charset="UTF-8">
    <title>StackOverflow-lite</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <header class="top-bar">
        <div class="nav-bar container">
            <nav>
                <div class="logo container">StackOverflow-lite</div>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container" id="content">
        <div class="signup-page">
            <div class="center">
                    <div class="signup-box">
                            <h1>Sign Up</h1>
                            <div class="textbox">
                                <input type="text" placeholder="Username" name="" value="">
                            </div>

                            <div class="textbox">
                                    <input type="email" placeholder="Email" name="" value="">
                                </div>
            
                            <div class="textbox">
                                <input type="password" placeholder="Password" name="" value="">
                            </div>

                            <div class="textbox">
                                    <input type="password" placeholder="Confirm Password" name="" value="">
                                </div>
            
                            <input class="signup-btn" type="button" name="" value="Create Account">
                        </div>
            </div>
            <div class="bar-md">
                Already have an account? <a>Sign in</a>
            </div>
            

        </div>
        <div>

        </div>
        
    </div>
    
    
    <div class="footer">
            <p>
               © 2018 StackOverflow-lite; by brian misocho</p>
        </div>
</body>


</html>